.hero {
  color: #fff;
  background: linear-gradient(
    to bottom right,
    #8266c4 0%,
    rgba(217, 97, 81, 0.5) 70.75%
  );
}

.hero a {
  color: #fff;
}

.heroTitle {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.heroSubtitle {
  font-size: 20px;
  line-height: 1.2;
}

.heroButton {
  border: 1px solid white;
  margin-bottom: 10px;
}

.separator {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.logo {
  max-width: 150px;
  height: auto;
  align-self: center;
  margin-right: 16px;
}

.code {
  border-radius: 10px;
  box-shadow: 0 20px 30px -10px #d96151;
  text-align: left;
}

:global([data-theme="dark"]) .code {
  box-shadow: 0 20px 30px -10px #572720;
}

.codeBlock {
  margin-bottom: 0 !important;
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }

  .logo {
    max-width: 100px;
  }

  .code {
    padding-top: 30px;
    margin: 0 30px;
  }
}
